<nav class="navbar">
</nav>
<div class="container">
    <div class="table-title">
        <h3>Szczegółowe informacje o szczepieniu</h3>
    </div>
    <table class="table-fill">
        <tbody class="table-hover">
        <tr>
            <td class="text-left">Data</td>
            <td class="time datetime=">{{appointment.appointmentDate}}</td>
        </tr>
        <tr>
            <td class="text-left">Godzina</td>
            <td class="text-left">{{appointment.appointmentTime}}</td>
        </tr>
        <tr>
            <td class="text-left">Miejsce szczepienia</td>
            <td class="text-left">{{appointment.appointmentLocationName}}</td>
        </tr>
        <tr>
            <td class="text-left">Adres</td>
            <td class="text-left">{{appointment.appointmentLocationAddress}}</td>
        </tr>
        <tr>
            <td class="text-left">Miasto</td>
            <td class="text-left">{{appointment.appointmentLocationCity}}</td>
        </tr>
        <tr>
            <td class="text-left">Kod pocztowy</td>
            <td class="text-left">{{appointment.appointmentLocationPostalCode}}</td>
        </tr>
        <tr>
            <td class="text-left">Status wizyty</td>
            <td class="text-left">{{appointment.appointmentStatus}}</td>
        </tr>
        <tr>
            <td class="text-left">Szczepionka</td>
            <td class="text-left">{{appointment.vaccinationBrandt}}</td>
        </tr>
        </tbody>
    </table>
    <div class="container">
      <div class="button-container buttons-space">
          <button class="btn btn-primary btn-color" (click)="cancelAppointment()">
              Anuluj wizytę
          </button>
          <button class="btn btn-secondary" (click)="viewVaccinationDetails()">
              Informacje o szczepionce
          </button>
      </div>
    </div>
</div>
