<div class="container">
  <h2>Rejestracja na szczepienie</h2>
  <form [formGroup]="registerForm">
    <div class="form-group">
      <label for="pesel">PESEL</label>
      <input type="text" formControlName="pesel" class="form-control"/>
    </div>
    <div class="form-group">
      <label for="identificator">Numer Dowodu</label>
      <input type="text" formControlName="identificator" class="form-control"/>
    </div>
    <div class="form-group">
      <label for="zipcode">Kod Pocztowy</label>
      <input type="text" formControlName="zipcode" class="form-control"/>
    </div>
    <div class="form-group">
      <label for="referral">Skierowanie</label>
      <input type="text" formControlName="referral" class="form-control"/>
    </div>
      <div class="form-group button-container buttons-space">
        <button [disabled]="loading" class="btn btn-primary" (click)="onSubmit()">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Zarejestruj
        </button>
        <button [disabled]="loading" class="btn btn-secondary">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Profil Zaufany
        </button>
        <button [disabled]="loading" class="btn btn-secondary">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Rejestracja ZUS
        </button>
      </div>
  </form>
</div>
