<!--
<pre>PESEL: {{registerForm.pesel}} </pre>
<pre>Dowód: {{registerForm.identificator}}</pre>
<pre>Kod pocztowy: {{registerForm.zipcode}}</pre>
<pre>Numer skierowania: {{registerForm.referral}}</pre>

-->
<nav class="navbar">
</nav>

<div class="container">
  <agm-map [latitude]="lat"
           [longitude]="lng">

    <agm-polygon
      [paths]="polygon"
    ></agm-polygon>

  </agm-map>
</div>
<div class="container">
  <div class="form-group" >
    <input class="form-control" [(ngModel)]=code>
    <button class="btn btn-primary btn-color" (click)="searchCode()">Szukaj</button>
  </div>
</div>
