.bg-image {
    background-size: cover;
}

.container-fluid {
    padding-left: 0px;
}

.bg-color-rebecca {
    background-color: rgb(105, 53, 156);
    padding-top: 10%;
}

.my-container-fluid {
    color: black;
    background-color: rgba(255, 253, 208, 1);
    border-radius: 20px;
    margin-left: 10px;
    padding: 5px;
}

.my-btn {
    background-color: rgba(139, 114, 190, 1);
    color: rgb(255, 253, 208);
}

.card {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: rgba(2, 5, 90, 0.5);
    position: absolute;
    bottom: 0;
    color: rgb(255, 253, 208);
}