<div class="container-fluid vh-100">
    <div class="row h-100">
        <div class="col-3 bg-color-rebecca">
            <div class="text-center">
                <div class="my-container-fluid text-center">
                    <h5>
                        Szczepienia przeciw COVID-19 w placówkach medycznych.
                    </h5>
                    <h6>
                        W celu umówienia terminu szczepienia niezbędne będzie podanie numeru skierowania. W przypadku jego braku zaleca się kontakt z infolinią lub lekarzem pierwszego kontaktu.
                    </h6>
                </div>
                <a routerLink="/register">
                    <button type="button" class="btn my-btn" data-mdb-ripple-color="dark" style="margin: 10px">Rejestracja na szczepienie</button>
                </a>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Projekt Szczepionka</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Projekt zespołowy 2021</h6>
                    <hr style="background: rgb(139, 114, 190);">
                    <p class="card-text">Zuzanna Burzyńska, Kamil Jurek, Bartłomiej Dettlaff, Bartosz Rózga</p>
                </div>
            </div>
        </div>
        <div class="col-9 bg-image" style="background-image: url('./assets/images/landing-page-img.jpg')">
        </div>
    </div>
</div>
